@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Nanum+Myeongjo&display=swap");

/* font-family: 'Montserrat', sans-serif; */
html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Nanum Myeongjo", serif;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
